
components/apriltagsServer/\.idea/

components/apriltagsServer/bin/

components/apriltagsServer/cmake-build-debug/

components/apriltagsServer/CMakeFiles/

*.new

*.pyc

components/humanPoseFake/\.idea/