
components/apriltagsServer/\.idea/

components/apriltagsServer/bin/

components/apriltagsServer/cmake-build-debug/

components/apriltagsServer/CMakeFiles/

*.new

*.pyc

components/humanPoseFake/\.idea/
components/camerasimple/\.idea/

components/humanmatching/\.idea/

components/apriltagsServer/src/AprilTagsServer_autogen/

components/apriltagsServer/src/cmake-build-debug/

components/apriltagsServer/src/CMakeFiles/

components/apriltagsComp/\.idea/
